body {
    background-color: gray;
    
}
.nav {
    display: flex;
    /* flex-direction: row; */
    
}
.nav ul{
    display: flex;
    
    gap: 25px;
}
.submenu li{
    display: none;
    /* position: absolute; */
   
}
.submenu{
    display:flex;
    flex-direction: column;
    
}
.main-menu{
    display:flex;
}
li:hover > .submenu li{
    display:block;
    gap:0;
    background-color: aquamarine;
}

li {
    /* position: relative; */
    
    
}