body{
    padding: 0;
    margin:0;
}
li{
    background-color: green;
    
    text-align: center;
    list-style-type: none;
    
}

li:hover {
    background-color: #52e052;
    
}
.sklep{
    display:none;
    padding: 0;
    margin: 0;
    
}

li:hover .sklep{
    display: block;
    
}

.sklep-li {
    background-color: rgb(51, 122, 51);;
    color: aliceblue;
}