body {
    background-color: gray;
    
}
.nav {
    display: flex;
    /* flex-direction: row; */
    
}
.nav ul{
    display: flex;
    
    
}
.submenu li{
    display: none;
    /* position: absolute; */
   
}
.submenu{
    display:flex;
    flex-direction: column;
    border: 2px yellow solid;
    padding: 0;
    
}
.main-menu{
    display:flex;
    border: 2px red solid;
    gap: 22px;
}
li:hover > .submenu li{
    display:block;
    
    margin:0;
    background-color: aquamarine;
}

li {
    /* position: relative; */
    
    
}